.cont{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    flex-direction: column;
    width: 100vw;
    text-decoration: none;
}
.filters{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    text-decoration: none;
    /* border-bottom: 2px solid red; */
    height: 40px;
    align-items: center;
    background-color: rgb(112, 0, 0);
}

.nav > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.nav > a:hover {
    /* transform: scale(1.1); */
    transform: translateY(-2px);
    transition-duration: 200ms;
}

.filter {
    background-color: rgb(112, 0, 0);
    color: white;
    border: 1px solid rgb(112, 0, 0);
    border-radius: 3px;
}

.filter::-webkit-scrollbar {
    width: 5px;
    background-color:#e75858;
   }
  