.loading {
  width: 100vw;
  height: 100vh;
}

.div {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

.div > h1 {
    position: fixed;
    color: white;
    top: 460px;
    left: 800px;
    font-family: cursive;
    letter-spacing: 2px;
}